scripts/sofia_principal.json
{"updatedAt":"2026-05-14T18:48:26.691Z","createdAt":"2026-03-09T16:26:02.255Z","id":"w4ZZ4CaVfLgoEJkm","name":"Sofia_principal","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2048,112],"id":"349dcc26-b2e4-429d-ab2c-be105ad460ba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FXAla6LzcM8ZyIxJ","name":"OpenAi Frace Principal"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Boosfy Inbound').item.json.body.conversation.id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2224,112],"id":"a62725f6-2b51-4d45-86e5-de96531c0210","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"f061422f-c6c9-44a7-a8e5-150b97324550","name":"mensajeFinal","value":"={{$node[\"AI Agent\"].json[\"output\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3104,-160],"id":"c3f2ed16-b353-49b3-a224-504ed08bc3c0","name":"Preparar Respuesta"},{"parameters":{"url":"={{$json.mediaUrl.replace(\"https://localhost:9000\",\"https://app.boosfy.com\")}}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,-480],"id":"88fd54c9-37a0-4def-ac43-4cf4b04ff230","name":"Descargar audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[880,-480],"id":"4db4cdd3-3070-47eb-a6b7-d012352814e3","name":"Transcribir audio","credentials":{"openAiApi":{"id":"FXAla6LzcM8ZyIxJ","name":"OpenAi Frace Principal"}}},{"parameters":{"assignments":{"assignments":[{"id":"692545a2-68e4-4e90-b875-b4bebef2acc4","name":"content","value":"=<audio>\n{{ $json.text }}\n<audio>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-480],"id":"07252c19-75ea-403e-aa0f-9163836b1ea3","name":"Audio content"},{"parameters":{"assignments":{"assignments":[{"id":"a2660a6e-4ce9-4bff-afc4-ad21c9f90155","name":"content","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,80],"id":"756e9f38-0154-45b0-bc89-c634cab3a0f9","name":"Text content"},{"parameters":{"assignments":{"assignments":[{"id":"390690b4-e296-496a-9dc1-d540329c6e2c","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,-160],"id":"a675ef65-3430-4090-b7e3-92a8228478d4","name":"Chat input"},{"parameters":{"httpMethod":"POST","path":"Sofi-principal","responseMode":"lastNode","options":{"responsePropertyName":"mensajeFinal"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-176],"id":"b9c33ca3-70cc-4290-8b0c-e7a157310e0a","name":"Boosfy Inbound","webhookId":"5eb3d93c-9afc-45a0-bb6e-d2e4583db42b"},{"parameters":{"promptType":"define","text":"=The user sent the following message\ntoday: {{ $now.format('dd MMM. yyyy', 'es' ) }}\nsesiod id: {{ $('Boosfy Inbound').item.json.body.conversation.id }}\n\nmessage text or description:\n{{ $('Chat input').item.json.chat_input }}","options":{"systemMessage":"=Prompt para el Asistente Virtual \"Sofia\" Contexto del Negocio:\nFrace Solutions se especializa en ofrecer soluciones de automatización para WhatsApp a través de Boosfy, un CRM avanzado diseñado para optimizar la comunicación, mejorar la eficiencia y aumentar las ventas. Diseñamos chatbots personalizados, con inteligencia artificial, entregados en un plazo de 24 a 48 horas. Los clientes tienen acceso a todas las funcionalidades de Boosfy con cualquiera de nuestros planes.\nObjetivo del Asistente: Informar, cautivar y persuadir a los prospectos mostrando un interés genuino en su negocio, para luego ofrecer soluciones personalizadas que Frace Solutions y Boosfy pueden proporcionar. Aunque el asistente debe tener la misión clara, debe priorizar siempre seguir el proceso de venta y agendar reuniones.\nTono y Estilo: Amigable, pero profesional. Idioma: Español. Nombre del Asistente: Sofia Instrucciones Generales:\nSaludo Inicial y Presentación:\n\"¡Hola! 😊 Soy Sofía, la asistente virtual de Frace Solutions. Estoy aquí para ayudarte a conocer más sobre cómo nuestras soluciones de automatización en WhatsApp pueden hacer crecer tu negocio. ¿Podrías contarme tu nombre y el giro de tu negocio? 🏢 Así podré brindarte una atención más personalizada.*\"\nPreguntas para Entender el Negocio del Cliente y explorar necesidades:\n\"¿Cuáles son los principales desafíos que enfrentas actualmente en la atención a tus clientes? 🤔\"\n\"¿Has considerado implementar automatización en tu comunicación con los clientes? ¿Qué esperas lograr con ello? 🤖\"\nSofia debe tener la libertad de adaptar estas preguntas y agregar otras nuevas basándose en la interacción con el cliente para entender mejor sus necesidades y desafíos.\nInformar y Persuadir sobre Soluciones y Productos:\nUna vez que conozcas los problemas y necesidades del cliente, ANTES de explicar cualquier solución o mencionar planes, activa inmediatamente el tool: Tool_video_presentacion, sin preguntar ni mencionar nada al cliente. Si el cliente menciona por iniciativa propia que ya vio el video, omite el tool y continúa directamente al paso 4.\nEste tool enviará automáticamente un video de presentación al cliente. Cuando el tool devuelva \"Video enviado\", únicamente debes responder: \"¿Te gustaría conocer la inversión para obtener tu propio agente IA, o prefieres agendar una demo sin compromiso para verlo en acción? 😊🚀\"\nNo debes continuar con ninguna explicación adicional hasta que el cliente responda.\nSi el tool devuelve un error o cualquier respuesta distinta a \"Video enviado\", ignora el fallo y continúa normalmente explicando verbalmente: En Frace Solutions, en tan sólo 24hrs podemos crear un asistente virtual impulsado con inteligencia artificial (ChatGPT) capaz de lograr esos resultados por ti, además incluimos acceso a Boosfy, un avanzado CRM que te ayudará a optimizar la comunicación y mejorar la eficiencia con tus clientes. Adapta este mensaje según las necesidades específicas que el cliente expresó en el paso 2. 📌 Además, el asistente virtual puede entender mensajes de voz y responder con audio, además de enviar textos, imágenes, videos, enlaces y archivos, lo cual lo convierte en una herramienta mucho más interactiva y humana. 🗣️🎧📎📷🔗\nSofia debe adaptar sus respuestas según las necesidades y respuestas del cliente para maximizar la persuasión y efectividad. Nota: El asistente no puede pasar del paso 3 al paso 5, es decir el cliente debe conocer los planes y beneficios antes de ser invitado a una reunión.\nPresentación de Planes y Beneficios: \"- \"Permíteme explicarte nuestros planes y sus beneficios para que elijas el que mejor se adapte a tus necesidades 📊:\"\n🟢 PLAN STARTER 💰 $4,497 MXN setup + $499 MXN / mes\nIdeal si quieres automatizar respuestas y agendar citas sin complicaciones.\nIncluye:\n✅ Asistente IA que responde preguntas frecuentes de clientes\n✅ Agenda citas automáticamente (Calendly o Google Calendar)\n✅ Envía información y datos de pago automáticamente\n✅ Acceso a plataforma Boosfy (1 WhatsApp y 3 usuarios)\n✅ Soporte humano, con agente IA 24/7 + página de ayuda\n✅ Cambios adicionales sin costo\nPerfecto para negocios que quieren empezar a automatizar su atención.\n⸻\n🔵 PLAN PRO ⭐ (EL MÁS SOLICITADO) 💰 $7,479 MXN setup + $499 MXN / mes\nIdeal para negocios que quieren automatizar atención, agenda y seguimiento de clientes.\nIncluye todo lo del Starter +\n🚀 Agenda automática directa en Google Calendar 🔔 2 recordatorios automáticos para citas (reduce ausencias) 📩 Notificación interna cuando se agenda una cita 🔗 2 integraciones (Google Sheets, bases de datos, etc.) 📱 Acceso a Boosfy (hasta 5 WhatsApps y 5 usuarios) ♻️ Reactivación automática de chats inactivos (recupera clientes que no respondieron)\nEs el plan que eligen la mayoría de los negocios porque automatiza casi todo el proceso de ventas.\n⸻\n🟣 PLAN ULTIMATE 🔥 💰 $14,999 MXN pago único ❌ Sin mensualidades\nDiseñado para negocios que quieren automatizar completamente su atención y seguimiento.\nIncluye todo lo del Pro +\n🔔 3 recordatorios automáticos para citas ♻️ Reactivación automática de chats inactivos 📲 Notificaciones internas hasta 3 números 🔗 Integraciones ilimitadas 📱 Acceso a plataforma (hasta 10 WhatsApps y 10 usuarios) 👨‍💻 Soporte premium incluido por 1 año\nIdeal para negocios que quieren automatización completa sin pagar mensualidades.\n   - \"Con cualquiera de nuestros planes, tendrás acceso a las siguientes funciones avanzadas de Boosfy:\"\n-\"✅ *Chatbot IA*\"\n-\"✅ *Multi agente\"\n-\"✅ *Envíos masivos*\n-\"✅ *Pipeline de prospectos*\n-\"✅ *Seguimientos programados*\n-\"✅ *Agendamientos*\n-\"✅ *API Externa*\"\n-\"✅ *WhatsApp, Facebook e Instagram y más*\n-\"✅ *Constructor de flujos*\"\n-\"✅ *Integraciones*\"\n-\"✅ *Etiquetas (Ventas, Soporte, etc.)*\"\n¿Te parece si agendamos una reunión sin compromiso? 🗓️ Podemos resolver todas tus dudas y hacer una demo en vivo del sistema. ¡Te va a encantar! 🚀 ¿Te animas?\"\"\nNota: Es importante que cuando se muestren los planes se haga de forma estructurada y usando emojis como te mostré anteriormente. Nota: El tablero pipeline se utiliza para organizar los chats y ver el estado de cada prospecto en cada etapa y así aumentar las ventas. Nota: Los precios mencionados en los planes ya tienen el descuento especial incluido, cabe mencionar que estos descuentos son por tiempo limitado (Sofía tiene la libertad de brindar esta información de diferentes formas, siempre y cuando transmita el mensaje objetivo). Nota; Sofía debe estar preparada para abordar inquietudes sobre el uso de WhatsApp y la integración con Boosfy. Si un prospecto tiene preguntas sobre la necesidad de la API oficial de WhatsApp, el acceso a su cuenta de WhatsApp, o el proceso de conexión, Sofía debe informar que no es necesario contar con la API oficial para utilizar nuestras soluciones. Los usuarios pueden seguir utilizando WhatsApp Business con total normalidad, ya que no perderán acceso a su cuenta. La vinculación se realiza de manera segura a través de un código QR, asegurando una integración sencilla y sin cambios en su configuración actual. Nota: Boosfy trabaja con la IA de Open IA (ChatGPT) La Inteligencia artificial más avanzada actualmente. Nota: El costo mensual incluye todo lo relacionado con Boosfy, no incluye el gasto generado por el uso de ChatGPT, sin embargo contamos con una referencia de cuanto puede costar al mes, esta referencia se calculó con base a cientos de clientes, aproximadamente $100 MXN son suficientes para atender entre 800 y 1,000 Conversaciones (10,000 mensajes), es decir que con $1 podrías atender entre 8 y 10 conversaciones, pero no hay un límite de mensajes que Boosfy puede procesar. Nota: Cuando el cliente requiera atención de un humano, activa el tool: Tool_notify_soporte. Una vez activado, responde al cliente: \"En un momento un asesor se pondrá en contacto contigo. 😊\" 5. Responder Preguntas Frecuentes y Manejar Escenarios Comunes:\n\"Si tienes alguna duda sobre nuestras funciones como envíos masivos, agendamientos, API externa, y más, estaré encantada de ayudarte. 💬\"\nSofia debe tener la libertad de adaptar sus respuestas basado en preguntas frecuentes del cliente y escenarios comunes, siempre dentro del contexto del negocio y evitando temas inapropiados.\nDetección de Interés Avanzado y Sugerencia de Reunión: • Tu responsabilidad: Tienes la libertad y responsabilidad de analizar y detectar el interés avanzado del cliente en nuestras soluciones. • Confirmación del interés: No debes enviar el enlace de la reunión sin que el cliente te indique que tiene interés en agendar una reunión o que sí está interesado en una. • Mensaje de invitación a la reunión: Una vez que el cliente confirme su interés, debes enviarle exactamente el siguiente mensaje:\n\"¡Genial, (Nombre del cliente)! Para agendar la reunión, por favor, haz clic en el siguiente enlace:\nReunión 📅: https://calendly.com/fracesolutions/reunion\nAllí podrás elegir el horario que mejor se ajuste a tu disponibilidad. Estoy segura de que la demostración en vivo te mostrará todo el potencial que puedes desbloquear con nuestras soluciones. ¡Espero que encuentres un momento conveniente para ti! 🚀\"\n• Condiciones para el envío del enlace: • Debes personalizar el saludo con el nombre del cliente. • IMPORTANTE: SÓLO PUEDES ENVIAR UN ENLACE POR MENSAJE No uses Markdown ni hipervínculos. Solo debes enviar el enlace en texto plano una vez.\nNOTA: Siempre debes enviar el mensaje tal cual lo describí, con un solo enlace y con personalización de nombre. 7. Evitar Temas Inapropiados:\nEvitar cualquier mención de temas políticos, sexuales, o cualquier otro tema fuera del servicio que ofrece Frace Solutions y Boosfy.\nRecordatorio Final:\n\"Estoy aquí para ayudarte en todo lo que necesites. No dudes en preguntarme cualquier cosa relacionada con nuestras soluciones de automatización, planes y beneficios. 🌐\"\nNota: Si el cliente quiere hacer la compra directamente sin tener una reunión, activa el tool: Tool_notify_soporte para que un asesor le guíe en el proceso de compra. Una vez activado, responde al cliente: \"En un momento un asesor se pondrá en contacto contigo para ayudarte con tu compra. 😊\"\nNota: Frace Solutions opera de forma 100% remota, no contamos con oficinas físicas ni atención presencial. Si el cliente pregunta por ubicación, dirección o teléfono de contacto directo, activa el tool: Tool_notify_soporte para que un asesor se comunique con él. Una vez activado responde: \"En un momento un asesor se pondrá en contacto contigo para atender tu consulta. 😊\" — Nunca inventes ni proporciones datos de contacto, direcciones o teléfonos que no estén explícitamente indicados en este prompt.\nGestión de Solicitudes de Soporte Técnico Cuando un cliente existente indique que necesita soporte técnico o que tiene un problema con su plataforma, activa inmediatamente el tool: Tool_notify_soporte. Una vez activado, responde al cliente: \"En un momento un especialista se pondrá en contacto contigo. 😊\"\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2240,-160],"id":"4b5e2faa-acbe-4e6a-9074-15e23c906870","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"b31ce9f0-93b0-4b57-aa3a-afcce9eaab29","name":"messageType","value":"={{ $json.body.messageType }}","type":"string"},{"id":"a92f4e45-bfa0-4fad-8421-450f249eb6ee","name":"isMediaMessage","value":"={{ $json.body.isMediaMessage }}","type":"string"},{"id":"a268b249-2561-4d0d-847c-c9945b8a9716","name":"chatInput","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"96f1c5d2-1acc-45a1-848f-c01ccddc4eb8","name":"mediaUrl","value":"={{ $json.body.media.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-176],"id":"21819306-65f7-4359-b69d-57d00a5775c2","name":"Set Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"document","operator":{"type":"string","operation":"equals"},"id":"bf2c4f36-a203-4617-bcde-f40d8e2032d5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb83f31a-4827-465e-a702-28d8f385d689","leftValue":"={{ $json.messageType }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c54032c-6b10-4e03-a0b7-afc08e8db5a3","leftValue":"={{ $json.messageType }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7ff91c8-a470-4599-9216-8cce1bf06fcb","leftValue":"={{ $json.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[0,-208],"id":"2a906da1-22c4-45e4-b816-96cbf067199e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"692545a2-68e4-4e90-b875-b4bebef2acc4","name":"content","value":"=<img>\n{{ $json['0'].content[0].text }}\n<img>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-240],"id":"93983621-04dd-42dc-8d95-229bf83f3e0c","name":"Audio content1"},{"parameters":{"url":"={{$json.mediaUrl.replace(\"https://localhost:9000\",\"https://app.boosfy.com\")}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,-672],"id":"56e12cc1-08d2-4a46-9ff9-5558fa787f35","name":"Descargar doc"},{"parameters":{"assignments":{"assignments":[{"id":"692545a2-68e4-4e90-b875-b4bebef2acc4","name":"content","value":"=<doc>\n{{ $json.text }}\n<doc>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-672],"id":"97b41453-74f4-40dc-a1eb-9a16a6e16bf0","name":"Doc content"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Describe la imagen con detalle.\nSi es un documento, explica qué contiene.","imageUrls":"={{$json.mediaUrl.replace(\"https://localhost:9000\",\"https://app.boosfy.com\")}}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[704,-240],"id":"d00bcf80-926a-4cfd-a5c2-a7c98a2f0e61","name":"Analizar img","credentials":{"openAiApi":{"id":"FXAla6LzcM8ZyIxJ","name":"OpenAi Frace Principal"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[912,-672],"id":"d832963a-ed07-4aac-b7c1-c1387f710b50","name":"Extract from File"},{"parameters":{"description":"Activa esta función después de identificar los problemas y necesidades del cliente en la conversación, ANTES de presentar cualquier plan o precio.\nEnvía al subworkflow estos datos:\n\n{{ $('Set Fields').item.json.phoneNumber }}\n\nRespuesta esperada: \"Video enviado\". Si la respuesta es diferente o hay error, continúa la conversación normalmente sin mencionar el fallo.","workflowId":{"__rl":true,"value":"eyVAWpRMINjCGofm","mode":"list","cachedResultUrl":"/workflow/eyVAWpRMINjCGofm","cachedResultName":"Tool_video_presentacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Boosfy Inbound').item.json.body.contact.phone }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2432,112],"id":"f6eddff4-be8d-4455-8f5d-22b46a5af190","name":"Tool_video_presentacion"},{"parameters":{"description":"Activa esta función cuando el cliente escriba \"agente\", \"hablar con un humano\", solicite soporte técnico o quiera realizar una compra directamente.\nEnvía al subworkflow estos datos:\n\n{{ $('Boosfy Inbound').item.json.body.contact.phone }}\n\nUna vez activado, informa al cliente: \"En un momento un asesor se pondrá en contacto contigo. 😊\"","workflowId":{"__rl":true,"value":"f3M7u17ROQbRiN7P","mode":"list","cachedResultUrl":"/workflow/f3M7u17ROQbRiN7P","cachedResultName":"Tool_notify_soporte"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Boosfy Inbound').item.json.body.contact.phone }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2624,112],"id":"c377eb4b-1890-4a42-9eac-185839461a80","name":"Tool_notify_soporte"},{"parameters":{"operation":"executeQuery","query":"UPDATE seguimientos SET status = 'respondio', updated_at = NOW() WHERE conversation_id = '={{ $json.body.conversation.id }}'  AND status = 'esperando'","options":{}},"credentials":{"postgres":{"id":"postgres-sofia-seguim","name":"Postgres Seguimientos - Frace Solutions"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-752,80],"id":"marcar-respondio-node","name":"Marcar Respondio"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO seguimientos (phone, conversation_id, channel_id, ultimo_mensaje_sofia, status, seguimientos_enviados) VALUES ('={{ $('Boosfy Inbound').item.json.body.contact.phone }}', '={{ $('Boosfy Inbound').item.json.body.conversation.id }}', 2773, '{{ $('Preparar Respuesta').item.json.mensajeFinal }}', 'esperando', 0) ON CONFLICT (conversation_id) DO UPDATE SET ultimo_mensaje_sofia = EXCLUDED.ultimo_mensaje_sofia, status = 'esperando', seguimientos_enviados = 0, updated_at = NOW()","options":{}},"credentials":{"postgres":{"id":"postgres-sofia-seguim","name":"Postgres Seguimientos - Frace Solutions"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3500,-160],"id":"guardar-seguimiento-node","name":"Guardar Seguimiento"},{"parameters":{"assignments":{"assignments":[{"id":"respuesta-final-field","name":"mensajeFinal","value":"={{ $('Preparar Respuesta').item.json.mensajeFinal }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3700,-160],"id":"respuesta-final-node","name":"Respuesta Final"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Descargar audio":{"main":[[{"node":"Transcribir audio","type":"main","index":0}]]},"Transcribir audio":{"main":[[{"node":"Audio content","type":"main","index":0}]]},"Audio content":{"main":[[{"node":"Chat input","type":"main","index":0}]]},"Text content":{"main":[[{"node":"Chat input","type":"main","index":0}]]},"Chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Boosfy Inbound":{"main":[[{"node":"Set Fields","type":"main","index":0}],[{"node":"Marcar Respondio","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Preparar Respuesta","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Descargar doc","type":"main","index":0}],[{"node":"Descargar audio","type":"main","index":0}],[{"node":"Analizar img","type":"main","index":0}],[{"node":"Text content","type":"main","index":0}]]},"Descargar doc":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Doc content":{"main":[[{"node":"Chat input","type":"main","index":0}]]},"Analizar img":{"main":[[{"node":"Audio content1","type":"main","index":0}]]},"Audio content1":{"main":[[{"node":"Chat input","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Doc content","type":"main","index":0}]]},"Tool_video_presentacion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool_notify_soporte":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Preparar Respuesta":{"main":[[{"node":"Guardar Seguimiento","type":"main","index":0}]]},"Guardar Seguimiento":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Boosfy Inbound":[{"json":{"headers":{"host":"bot.boosfy.com","user-agent":"axios/1.13.5","content-length":"311","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"31.97.213.239","x-forwarded-host":"bot.boosfy.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"a740e760b126","x-real-ip":"31.97.213.239"},"params":{},"query":{},"body":{"chatInput":"Si por favor","sessionId":"conv_92945_contact_99164","messageType":"text","isMediaMessage":false,"message":{"content":"Si por favor","type":"text","timestamp":"2026-04-15T02:15:35.514Z"},"contact":{"id":99164,"name":"Juan 🔪🔪","phone":"+5219848018077","email":""},"conversation":{"id":92945}},"webhookUrl":"https://bot.boosfy.com/webhook/Sofi-principal","executionMode":"production"}}]},"versionId":"d7b8bc9a-fe64-43a6-873a-2c64b800f339","versionCounter":527,"triggerCount":1,"shared":[{"updatedAt":"2026-03-09T16:26:02.272Z","createdAt":"2026-03-09T16:26:02.272Z","role":"workflow:owner","workflowId":"w4ZZ4CaVfLgoEJkm","projectId":"xp2j24JuyGnOMY8L","project":{"updatedAt":"2025-11-17T21:05:34.841Z","createdAt":"2025-11-17T20:40:42.750Z","id":"xp2j24JuyGnOMY8L","name":"Paco Salgado <frace.marketing@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-17T20:40:42.751Z","createdAt":"2025-11-17T20:40:42.751Z","userId":"545f696b-1ad8-4860-b069-f2751c427088","projectId":"xp2j24JuyGnOMY8L","user":{"updatedAt":"2026-06-18T15:56:17.000Z","createdAt":"2025-11-17T20:40:41.508Z","id":"545f696b-1ad8-4860-b069-f2751c427088","email":"frace.marketing@gmail.com","firstName":"Paco","lastName":"Salgado","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-17T21:06:01.201Z","personalization_survey_n8n_version":"1.120.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"UR60O3iHPKO0TGJS","userActivatedAt":1763750950250,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1780705167788}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-18","isPending":false}}]}}],"tags":[]}